name: Deploy Starlight Docs

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22   # adjust if needed

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy via rsync
        uses: burnett01/rsync-deployments@6.0.0
        with:
          switches: -avz --delete
          path: dist/
          remote_path: /var/www/docs.pokeskies.com/
          remote_host: ${{ secrets.STARLIGHT_HOST }}
          remote_user: ${{ secrets.STARLIGHT_USER }}
          remote_key: ${{ secrets.STARLIGHT_KEY }}